/* Default button */
.button {
	background-color: #03bafc; /* Blue */
	border-radius: 5px;
	font-size: 15px;
  	color: black;
  	padding: 6px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
}
