body {
	--text-color: #222;
	--bkg-color: #ffffff;
	--header-color: #ededed;
	--link-color: #0000dd;
	--link-hover-color: #000000;
}

body.dark-theme {
	--text-color: #eee;
	--bkg-color:  #282a36;
	--header-color: #ffb861;
	--link-color: #40d0e0;
	--link-hover-color: #ffffff;
}

body {
	background: var(--bkg-color);
}

h1, h2, h3, h4, h5, h6, p {
	color: var(--text-color);
}

form {
	color: var(--text-color);
}

table {
	color: var(--text-color);
}

th, td {
	color: var(--text-color);
}

a {
	color: var(--link-color);
}

a:hover {
	color: var(--link-hover-color);
}

div.header {
	background: var(--header-color);
}

div.form {
	color: var(--text-color);
	background: var(--bkg-color);
}
