#topButton {
	display: none;
	position: fixed;
	bottom: 64px;
	right: 50px;
	z-index: 99;
	border: none;
	outline: none;
	background-color: #606060;
	color: white;
	cursor: pointer;
	padding: 10px;
	border-radius: 8px;
	font-size: 24px;
}

#topButton:hover {
	background-color: #A0A0A0;
}